/* hides the grey GitHub-repo bar */
.page-header { display:none; }

/* tving alle lenker i headeren til hvit */
.site-header a { color:#fff !important; }

/* Hvite lenker i horisontal meny */
.site-header nav > a { color:#fff; }
.site-header nav > a:hover { color:#6cb6ff; }

/* Hvite lenker i overlay */
.link-primary           { color:#fff !important; }
.link-primary:hover     { color:#6cb6ff !important; }


/* Booking button */
.btn-booking {
  background:#28a745;   /* grønn */
  border-color:#28a745;
  width:240px;
  font-size:1.25rem;
}
.btn-booking:hover { background:#26913f;border-color:#26913f; }