/* hides the grey GitHub-repo bar */
.page-header { display:none; }

/* tving alle lenker i headeren til hvit */
.site-header a { color:#fff !important; }

/* Hvite lenker i horisontal meny */
.site-header nav > a { color:#fff; }
.site-header nav > a:hover { color:#6cb6ff; }

/* Hvite lenker i overlay */
.link-primary           { color:#fff !important; }
.link-primary:hover     { color:#6cb6ff !important; }


/* Booking button */
.btn-booking {
  display:inline-block;          /* bredden fungerer nå              */
  padding:.75rem 1.5rem;         /* litt luft inni knappen           */
  font-size:1.25rem;
  border-radius:.5rem;
  background:#7A0319;            /* grønn bakgrunn                   */
  border:1px solid #7A0319;
  color:#fff !important;         /* hvit tekst                       */
  text-decoration:none;
}
.btn-booking:hover {
  background:#BA0529;
  border-color:#BA0529;
}
